* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #7d2Ae8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    position: relative;
    height: 120px;
    width: 500px;
    background: white;
    border-radius: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.navbar ul {
    position: relative;
    display: flex;
    flex-direction: row;
}
.navbar ul li {
    position: relative;
    list-style-type: none;
}
.navbar ul li a {
    position: relative;
    height: 120px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}